doctype html
html
  head
    link(rel='stylesheet', href='style.css')
    script(src="https://jspm.io/system@0.16.js")
    script(data-require="angular.js@*" data-semver="2.0.0" src="https://code.angularjs.org/2.0.0-beta.6/angular2.min.js")
    script(src='/js/script.js')
  body(ng-app='myApp')
    h1 Hello Plunker!
    |     {{ 843 / 42 }}