doctype html
html()
  script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-route.min.js')
  script(src='js/script.js')
  body
    div(ng-app='myApp', ng-controller='mainController')
      h1 {{message}}
      div {{error}}
      {{username}}
      form(name='searchUser' ng-submit='search(username)')
        input(type='search' requred placeholder='Username to find' ng-model='username')
        input(type='submit' value='Search')
      
      div(ng-show='user')
        h2 {{user.name}}
        img(ng-src='{{user.avatar_url}}' title='{{user.name}}')
        p <strong>Order By: </strong> 
          select(ng-model='repoSortOrder')
            option(value='+name') Name
            option(value='-stargazers_count') Stars
            option(value='+language') Language
      table
        thead
          tr
            th Name
            th Stars
            th Language
        tbody
          tr(ng-repeat="repo in repos | orderBy:repoSortOrder")
            td {{repo.name}} 
            td {{repo.stargazers_count | number}}
            td {{repo.language}}

      